{# src/Rubens/WebBundle/Ressources/views/Frontend/agenda.html.twig #}
{% extends "RubensWebBundle:Frontend:frontend.html.twig" %}
{% block title %}AGENDA{% endblock %}

{% block body %}
    <h1>AGENDA</h1>
    <div class="row">

    </div>
{% endblock %}
