{# src/Rubens/WebBundle/Ressources/views/Frontend/bureau.html.twig #}
{% extends "RubensWebBundle:Frontend:frontend.html.twig" %}
{% block title %}Bureau{% endblock %}

{% block body %}
    <h1>BUREAU</h1>
    <div class="row">

    </div>
{% endblock %}
