{# src/Rubens/WebBundle/Ressources/views/Frontend/ciss.html.twig #}
{% extends "RubensWebBundle:Frontend:frontend.html.twig" %}
{% block title %}CISS{% endblock %}

{% block body %}
    <h1>CISS</h1>
    <div class="row">

    </div>
{% endblock %}
