{# src/Rubens/WebBundle/Ressources/views/Frontend/index.html.twig #}
{% extends "RubensWebBundle:Frontend:frontend.html.twig" %}
{% block title %}MEMTIONS{% endblock %}

{% block body %}
    <h1>MENTIONS</h1>
    <div class="row">

    </div>
{% endblock %}
