{# src/Rubens/WebBundle/Ressources/views/Frontend/plan.html.twig #}
{% extends "RubensWebBundle:Frontend:frontend.html.twig" %}
{% block title %}PLAN{% endblock %}

{% block body %}
    <h1>PLAN</h1>
    <div class="row">

    </div>
{% endblock %}
