{# src/Rubens/RubensWebBundle/Resources/views/Backend/Post/new.html.twig #}

{% extends "RubensWebBundle:Backend:backend.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Créer un article</div>
                <div class="panel-body">
                    <div class="col-lg-12">
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
