<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="cyphos">
    <title>{% block title %}{% endblock %} - Rubens Alcais</title>
    <link rel="stylesheet" href="{{ asset('bundles/rubensweb/bootstrap-3.1.1/css/bootstrap.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/rubensweb/css/signin.css') }}" type="text/css" />
  </head>
  <body>
  {% block login %}{% endblock %}
  </body>
</html>
